<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="DinerMax3000BusinessLayer.Properties.Settings.DinerMax3000ConnectionString"
            connectionString="Data Source=(localdb)\MSSQLLocalDB;Initial Catalog=DinerMax3000;Integrated Security=True;Connect Timeout=30;Encrypt=False;TrustServerCertificate=False"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>